<template>
  <div class="validate-component">
    <div class="validate-component__info">
      <span class="validate-component__name">UUID: {{ id }}</span>
      <button class="validate-component__button" @click="validate">Validate</button>
    </div>
    <div class="validate-component__children">
      <slot></slot>
    </div>
  </div>
</template>

<script>
export default {
  name: 'validate-component',
  data() {
    return {
      id: null,
    }
  },
  mounted() {
    this.id = this._uid
    this.$root.$on('validate', this.handleValidate)
  },
  destroyed() {
    this.$root.$off('validate', this.handleValidate)
  },
  methods: {
    validate() {
      this.$root.$emit('validate', this.$el)
    },
    handleValidate(root) {
      if (root === this.$el) return
      if (root.contains(this.$el)) {
        console.log(`${this.id} called validate method`)
      }
    }
  }
}
</script>

<style scoped>
.validate-component,
.validate-component__info {
  display: flex;
  align-items: center;
}

.validate-component {
  flex-direction: column;
}

.validate-component__name {
  margin-right: 25px;
}

.validate-component__children {
  margin-left: 30px;
}
</style>
