<template>
  <div id="app">
    <validate-component>
      <wrapper-component>
        <validate-component></validate-component>
      </wrapper-component>
      <wrapper-component>
        <validate-component>
          <validate-component></validate-component>
        </validate-component>
      </wrapper-component>
      <validate-component></validate-component>
    </validate-component>
  </div>
</template>

<script>
import WrapperComponent from './components/WrapperComponent.vue'
import ValidateComponent from './components/ValidateComponent.vue'

export default {
  name: 'App',
  components: {
    WrapperComponent,
    ValidateComponent,
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
